<div>
    <div class="row">
      <div class="col-md-8 ">
        <P class="top-nav-total-txt">TOTAL REVENUE</P>
        <span class="top-nav-total-price"> &#x20b9; 34,600</span>
      </div>
      <div class="col-md-4 top_na_from_to">
          <label for="dateofbirth">From</label>
    <input type="date" name="dateofbirth " id="dateofbirth left_dfb">
    <label for="dateofbirth">To</label>
    <input type="date" name="dateofbirth" id="dateofbirth">
      </div>
      <div  class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                 <p class="celebrity_voice_calls">CREDITS PURCHASED</p>
                 <p class="celebrity_voice_calls_price"> &#x20b9; 34,600</p>
                 <span class="badge badge-pill badge-success">+15%</span>
                 <span class="decrease_txt">Increse from 6 months</span>
                </div>
                <div class="col-md-4">
                  <div class="celebrity_icons">
                      <!-- <i class="fa fa-video-camera" aria-hidden="true"></i> -->

                      <img src="../../../src/img/dollar-coins.png" alt="">
                  </div>
                 
                </div>
               </div>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="row">
           <div class="col-md-8">
            <p class="celebrity_voice_calls">VOICE CALLS</p>
            <p class="celebrity_voice_calls_price"> &#x20b9; 2,300</p>
            <span class="badge badge-pill badge-danger">-5%</span>
            <span class="decrease_txt">Decrease from 6 months</span>
           </div>
           <div class="col-md-4">
             <div class="celebrity_icons">
                <i class="fa fa-phone" aria-hidden="true"></i>
             </div>
            
           </div>
          </div>
          </div>
        </div> -->
    
        <div class="col-sm-6 col-lg-3">
            <div class="card ">
                <div class="row">
                    <div class="col-md-8">
                     <p class="celebrity_voice_calls">CREDITS SPENT</p>
                     <p class="celebrity_voice_calls_price"> &#x20b9; 23,6990</p>
                     <span class="badge badge-pill badge-success">-5%</span>
                     <span class="decrease_txt">Increse from 6 months</span>
                    </div>
                    <div class="col-md-4">
                      <div class="celebrity_icons">
                          <!-- <i class="fa fa-comment" aria-hidden="true"></i> -->
                          <img src="../../../src/img/dollar-coins.png" alt="">
                      </div>
                     
                    </div>
                   </div>
            </div>
          </div>
    </div>
    
    
    <div class="row celebrities_row_background">
      <div class="col-md-6">
      <span class="celebrities_number_txt">128 Purchases</span>
      <div class="search">
          <span class="fa fa-search"></span>
          <input placeholder="Search a follower...">
        </div>
      </div>
      <div class="col-md-6 text-right">
        <span >
            <select class="celibrity_filter_span">
               <option value="American">2017</option> 
               <option value="Andean">2018</option> 
               <option value="Chilean">2019</option> 
        </select>


        </span>
        
      </div>
    </div>
    
    
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
    
    
    
    <div class="row">
      <div class="col-md-12">
          <table class="table">
              <thead>
                <tr>
                  <th class="check_box_width"> 
              
                      <input type="checkbox" id="test1" />
                      <label for="test1"></label>
                   
                  </th>
                  <th>NAME</th>
                  <th>DATE</th>
                  <th>CREDITS PURCHASED</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                 
                          <input type="checkbox" id="test2" />
                          <label for="test2"></label>
                  </td>
                  <td  routerLinkActive="active" routerLinkActive="active" (click)="change()">
                    <ul class="list-inline" >
                      <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                      <li class="celebrity_name_list">Gayatri Singh</li>
                    </ul>
            
                  </td>
                  <td>December 28</td>
                  <td> &#x20b9;150</td>
                  <td></td>
                </tr>
                <tr>
                    <td>
                    
                            <input type="checkbox" id="test3" />
                            <label for="test3"></label>
                    </td>
                    <td>
                        <ul class="list-inline">
                          <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                          <li class="celebrity_name_list">Payal Agarwal</li>
                        </ul>
                
                      </td>
                      <td>December 28</td>
                      <td> &#x20b9;200</td>
                      <td></td>
                </tr>
                <tr>
                    <td>
                        
                            <input type="checkbox" id="test4" />
                            <label for="test4"></label> 
                          
                    </td>
                    <td>
                        <ul class="list-inline">
                          <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                          <li class="celebrity_name_list">Suresh Bhatia</li>
                        </ul>
                
                      </td>
                      <td>December 24</td>
                      <td> &#x20b9;300</td>
                      <td></td>
                </tr>
                <tr>
                    <td>
                        
                            <input type="checkbox" id="test5" />
                            <label for="test5"></label> 
                          
                    </td>
                    <td>
                        <ul class="list-inline">
                          <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                          <li class="celebrity_name_list">Gagan Singh</li>
                        </ul>
                
                      </td>
                      <td>December 23</td>
                      <td> &#x20b9;100</td>
                      <td></td>
                </tr>
                <tr>
                    <td>
                        
                            <input type="checkbox" id="test6" />
                            <label for="test6"></label> 
                          
                    </td>
                    <td>
                        <ul class="list-inline">
                          <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                          <li class="celebrity_name_list">Dinesh Kumar</li>
                        </ul>
                
                      </td>
                      <td>December 21</td>
                      <td> &#x20b9;50 </td>
                      <td></td>
                </tr>
              </tbody>
            </table>
      </div>
    
    </div>
    
    
    </div>
      
    
    