<div>
    <div class="row">
      <div class="col-md-12"> <h3>Aliabhatt</h3></div>
      <div class="col-md-8 ">
       
        <P class="top-nav-total-txt">TOTAL REVENUE</P>
        <span class="top-nav-total-price"> &#x20b9; 3,660</span>
      </div>
      <div class="col-md-4 top_na_from_to">
          <label for="dateofbirth">From</label>
    <input type="date" name="dateofbirth " id="dateofbirth left_dfb">
    <label for="dateofbirth">To</label>
    <input type="date" name="dateofbirth" id="dateofbirth">
      </div>
      <div  class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                 <p class="celebrity_voice_calls">VOICE CALLS</p>
                 <p class="celebrity_voice_calls_price"> &#x20b9; 1,680</p>
                 <span class="badge badge-pill badge-success">+15%</span>
                 <span class="decrease_txt">Increse from 6 months</span>
                </div>
                <div class="col-md-4">
                  <div class="celebrity_icons">
                      <i class="fa fa-video-camera" aria-hidden="true"></i>
                  </div>
                 
                </div>
               </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="row">
           <div class="col-md-8">
            <p class="celebrity_voice_calls">VOICE CALLS</p>
            <p class="celebrity_voice_calls_price"> &#x20b9; 1,230</p>
            <span class="badge badge-pill badge-success">+15%</span>
            <span class="decrease_txt">increase from 6 months</span>
           </div>
           <div class="col-md-4">
             <div class="celebrity_icons">
                <i class="fa fa-phone" aria-hidden="true"></i>
             </div>
            
           </div>
          </div>
          </div>
        </div>
    
        <div class="col-sm-6 col-lg-3">
            <div class="card ">
                <div class="row">
                    <div class="col-md-8">
                     <p class="celebrity_voice_calls">VOICE CALLS</p>
                     <p class="celebrity_voice_calls_price"> &#x20b9; 750</p>
                     <span class="badge badge-pill badge-success">+15%</span>
                     <span class="decrease_txt">Increse from 6 months</span>
                    </div>
                    <div class="col-md-4">
                      <div class="celebrity_icons">
                          <i class="fa fa-comment" aria-hidden="true"></i>
                      </div>
                     
                    </div>
                   </div>
            </div>
          </div>
    </div>
    
<!--     
    <div class="row">
      <div class="col-md-6">
      <span class="celebrities_number_txt">128 celebrities</span>
      <div class="search">
          <span class="fa fa-search"></span>
          <input placeholder="Search a celebrity">
        </div>
      </div>
      <div class="col-md-6 text-right">
        <span class="celibrity_filter_span"><i class="fa fa-filter" aria-hidden="true"></i> &nbsp; &nbsp; Filter</span>
        <button class="btn btn-warning">+Add celebrity</button>
      </div>
    </div> -->
    <div class="spacer-large"></div>
   
    <div class="col-md-8">

    </div>


    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
            <button type="button" class="btn btn-warning btn-sm pull-right edit_button">EDIT</button>
        </div>
          
          <div class="col-md-12">

              <img src="../../../src/img/alia.jpg" class="celebrity_single_pic" alt="">
              <h3 class="text-center celebrity_single_name">Alia Bhatt</h3>
              <h5 class="text-center celebrity_single_designation">Bollywood Actresss</h5>
              <p class="celebrity_single_about">It is very easy to use reach top. But it is an uphill task to maintain it.</p>
              <p class="celebrity_single_contact-txt">CONTACT</p>
             <span class="celebrity_sigle_contact_details_sub">+91 8528048330</span> <span class="celebrity_sigle_contact_details_sub">alia@gmaiil.com</span>

             <p class="celebrity_sigle_contact_memberence_txt">MEMBER SINCE</p>
             <p class="celebrity_sigle_contact_memberence_date">12-30-2017</p>
             <p class="celebrity_social_icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
             </p>

          </div>

      </div>
      <div class="col-md-9">
<!-- 
<div class="pc-tab">
<input checked="checked" id="tab1" type="radio" name="pct" />
<input id="tab2" type="radio" name="pct" />
<input id="tab3" type="radio" name="pct" />
  <nav>
    <ul>
      <li  class="tab1">
        <label class="active" for="tab1">Video Call</label>
      </li>
      <li class="tab2">
        <label for="tab2">Voice Call</label>
      </li>
      <li class="tab3">
        <label for="tab3">Messages</label>
      </li>
    </ul>
  </nav>
  <section>
    <div class="tab1">

        <table class="table">
            <thead>
              <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>DATE</th>
                <th>MONEY EARNED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh Kumar</td>
                <td class="celebrity_video_call_time">10m 47s </td>
                <td class="celebrity_video_call_time">23-12-2017</td>
                <td> &#x20b9;33</td>

              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="tab2">

        <table class="table">
            <thead>
              <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>DATE</th>
                <th>MONEY EARNED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh Kumar</td>
                <td class="celebrity_video_call_time">10m 47s </td>
                <td class="celebrity_video_call_time">23-12-2017</td>
                <td> &#x20b9; 44</td>

              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="tab3">
  
        <table class="table">
            <thead>
              <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>DATE</th>
                <th>MONEY EARNED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh Kumar</td>
                <td class="celebrity_video_call_time">10m 47s </td>
                <td class="celebrity_video_call_time">23-12-2017</td>
                <td> &#x20b9; 05</td>

              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 03</td>
              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 01</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 03</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 01</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 02</td>
              </tr>
            </tbody>
          </table>
    </div>
  </section>
</div> -->


<tabset id="tabset-custom">
      
    <tab heading="Video Call">
        <table class="table">
            <thead>
              <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>DATE</th>
                <th>MONEY EARNED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh Kumar</td>
                <td class="celebrity_video_call_time">10m 47s </td>
                <td class="celebrity_video_call_time">23-12-2017</td>
                <td> &#x20b9;33</td>

              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9;33</td>
              </tr>
            </tbody>
          </table>
    </tab>
    <tab heading="Profile">
        <table class="table">
            <thead>
              <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>DATE</th>
                <th>MONEY EARNED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh Kumar</td>
                <td class="celebrity_video_call_time">10m 47s </td>
                <td class="celebrity_video_call_time">23-12-2017</td>
                <td> &#x20b9; 44</td>

              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 44</td>
              </tr>
            </tbody>
          </table>
    </tab>
    <tab heading="Messages">
        <table class="table">
            <thead>
              <tr>
                <th>NAME</th>
                <th>DURATION</th>
                <th>DATE</th>
                <th>MONEY EARNED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh Kumar</td>
                <td class="celebrity_video_call_time">10m 47s </td>
                <td class="celebrity_video_call_time">23-12-2017</td>
                <td> &#x20b9; 05</td>

              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 03</td>
              </tr>
              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 01</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 03</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 01</td>
              </tr>

              <tr>
                  <td>Rajesh Kumar</td>
                  <td class="celebrity_video_call_time">10m 47s </td>
                  <td class="celebrity_video_call_time">23-12-2017</td>
                  <td> &#x20b9; 02</td>
              </tr>
            </tbody>
          </table>
    </tab>
  </tabset>

          
      </div>

    </div>
    
    </div>
  

    
