<div>
  <div class="row">
    <div class="col-md-8 ">
      <P class="top-nav-total-txt">TOTAL REVENUE</P>
      <span class="top-nav-total-price"> &#x20b9; 34,600</span>
    </div>
    <div class="col-md-4 top_na_from_to">
        <label for="dateofbirth">From</label>
  <input type="date" name="dateofbirth " id="dateofbirth left_dfb">
  <label for="dateofbirth">To</label>
  <input type="date" name="dateofbirth" id="dateofbirth">
    </div>
    <div  class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card">
          <div class="row">
              <div class="col-md-8">
               <p class="celebrity_voice_calls">CREDITS PURCHASED</p>
               <p class="celebrity_voice_calls_price"> &#x20b9; 34,600</p>
               <span class="badge badge-pill badge-success">+15%</span>
               <span class="decrease_txt">Increse from 6 months</span>
              </div>
              <div class="col-md-4">
                <div class="celebrity_icons">
                    <!-- <i class="fa fa-video-camera" aria-hidden="true"></i> -->

                    <img src="../../../src/img/dollar-coins.png" alt="">
                </div>
               
              </div>
             </div>
      </div>
    </div>
    <!-- <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="row">
         <div class="col-md-8">
          <p class="celebrity_voice_calls">VOICE CALLS</p>
          <p class="celebrity_voice_calls_price"> &#x20b9; 2,300</p>
          <span class="badge badge-pill badge-danger">-5%</span>
          <span class="decrease_txt">Decrease from 6 months</span>
         </div>
         <div class="col-md-4">
           <div class="celebrity_icons">
              <i class="fa fa-phone" aria-hidden="true"></i>
           </div>
          
         </div>
        </div>
        </div>
      </div> -->
  
      <!-- <div class="col-sm-6 col-lg-3">
          <div class="card ">
              <div class="row">
                  <div class="col-md-8">
                   <p class="celebrity_voice_calls">CREDITS SPENT</p>
                   <p class="celebrity_voice_calls_price"> &#x20b9; 23,6990</p>
                   <span class="badge badge-pill badge-success">-5%</span>
                   <span class="decrease_txt">Increse from 6 months</span>
                  </div>
                  <div class="col-md-4">
                    <div class="celebrity_icons">
                      
                        <img src="../../../src/img/dollar-coins.png" alt="">
                    </div>
                   
                  </div>
                 </div>
          </div>
        </div> -->
  </div>
  
  
  <div class="row celebrities_row_background">
    <div class="col-md-6">
    <span class="celebrities_number_txt">128 Followers</span>
    <div class="search">
        <span class="fa fa-search"></span>
        <input placeholder="Search a Follower...">
      </div>
    </div>
    <div class="col-md-6 text-right">
      <span >
          <select class="celibrity_filter_span">
             <option value="American">2017</option> 
             <option value="Andean">2018</option> 
             <option value="Chilean">2019</option> 
      </select>


      </span>
      
    </div>
  </div>
  
  
 
  
  
  
  <div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th class="check_box_width"> 
            
                    <input type="checkbox" id="test1" />
                    <label for="test1"></label>
                 
                </th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>CREDIT BALANCE</th>
                <th>ACCOUNT CREATED</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
               
                        <input type="checkbox" id="test2" />
                        <label for="test2"></label>
                </td>
                <td  routerLinkActive="active" routerLinkActive="active" (click)="change()">
                  <ul class="list-inline" >
                    <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                    <li class="celebrity_name_list">Gayatri Singh</li>
                  </ul>
          
                </td>
                <td>alia@gmail.com</td>
                <td> &#x20b9;220</td>
                <td>December 28</td>
              </tr>
              <tr>
                  <td>
                  
                          <input type="checkbox" id="test3" />
                          <label for="test3"></label>
                  </td>
                  <td>
                      <ul class="list-inline">
                        <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                        <li class="celebrity_name_list">Payal Agarwal</li>
                      </ul>
              
                    </td>
                    <td>alia@gmail.com</td>
                    <td> &#x20b9;1350</td>
                    <td>December 28</td>
              </tr>
              <tr>
                  <td>
                      
                          <input type="checkbox" id="test4" />
                          <label for="test4"></label> 
                        
                  </td>
                  <td>
                      <ul class="list-inline">
                        <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                        <li class="celebrity_name_list">Suresh Bhatia</li>
                      </ul>
              
                    </td>
                    <td>alia@gmail.com</td>
                    <td> &#x20b9;844</td>
                    <td>December 28</td>
              </tr>
              <tr>
                  <td>
                      
                          <input type="checkbox" id="test5" />
                          <label for="test5"></label> 
                        
                  </td>
                  <td>
                      <ul class="list-inline">
                        <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                        <li class="celebrity_name_list">Gagan Singh</li>
                      </ul>
              
                    </td>
                    <td>alia@gmail.com</td>
                    <td> &#x20b9;00 </td>
                    <td>December 28</td>
              </tr>
              <tr>
                  <td>
                      
                          <input type="checkbox" id="test6" />
                          <label for="test6"></label> 
                        
                  </td>
                  <td>
                      <ul class="list-inline">
                        <li class="celebrity_img_list"><img src="../../../src/img/girl.png" class="img-avatar" alt=""></li>
                        <li class="celebrity_name_list">Dinesh Kumar</li>
                      </ul>
              
                    </td>
                    <td>alia@gmail.com</td>
                    <td> &#x20b9;123 </td>
                    <td>December 28</td>
              </tr>
            </tbody>
          </table>
    </div>
  
  </div>
  
  
  </div>
    
  
  
